@charset "UTF-8";

@import
	url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700)
	;

body {
	padding-bottom: 20px;
}

em {
	font-style: normal;
	text-decoration: underline;
}

h1 {
	margin: 30px 0;
	padding: 0 200px 15px 0;
	border-bottom: 1px solid #E5E5E5;
}

.container-fluid {
	max-width: 1024px;
	margin: 0 auto;
}

.alert {
	box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
}

.btn {
	border-radius: 2px;
}

.navbar {
	box-shadow: 0 3px 2px -3px rgba(0, 0, 0, 0.1);
}

.navbar-default {
	background-color: #FFFFFF;
	border-color: #ada8a5;
}

.navbar-header {
	padding-left: 15px;
	padding-top: 30px;
}

.navbar-brand {
	transition: 0.25s all;
	margin-left: 0px;
	margin-top: 4px;
}

.navbar-nav {
	margin: 0;
}

.navbar-nav>li {
	margin-right: 10px;
}

.navbar-nav>li>a {
	padding: 30px;
}

.navbar-nav>li>.logged-as {
	display: block;
	padding-top: 15px;
	font-weight: normal;
	color: #06c;
	text-align: left;
}

.navbar-nav>li>.user-name {
	display: block;
	text-align: left;
}

.navbar-inner {
	border-top: 4px solid #757070;
}

.help-block {
	font-size: 0.8em;
	margin-bottom: 0px;
}

.login-message {
	width: 500px;
	margin: 0 auto;
}

.pdfTutorialTitle {
	color: #0762A2;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #757070;
}

.footer>div>p {
	padding-top: 10px;
	padding-left: 15px;
	color: white;
}

.login-box {
	margin-top: 20px;
}

.errorMessage {
	margin-bottom: 0px;
}

.no-padding-left {
	padding-left: 0px;
}

.no-padding-right {
	padding-right: 0px;
}

.no-margin-right {
	margin-right: 0px;
}

.center-block-pagination {
	text-align: center;
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc,
	table.dataTable thead .sorting_desc {
	cursor: pointer;
	*cursor: hand;
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc,
	table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled,
	table.dataTable thead .sorting_desc_disabled {
	background-repeat: no-repeat;
	background-position: center right;
}

table.dataTable thead .sorting {
	background-image: url("assets/sort_both.png");
}

table.dataTable thead .sorting_asc {
	background-image: url("assets/sort_asc.png");
}

table.dataTable thead .sorting_desc {
	background-image: url("assets/sort_desc.png");
}

table.dataTable thead .sorting_asc_disabled {
	background-image: url("assets/sort_asc_disabled.png");
}

table.dataTable thead .sorting_desc_disabled {
	background-image: url("assets/sort_desc_disabled.png");
}

.deafult-column-width {
	width: 22%;
}

.id-column-width {
	width: 6%;
}

.action-column-width {
	width: 6%;
}

.dt-buttons-pull-right>div {
	float: right !important;
}

.table-container-constant {
	/* 	height: 429px;  */
	height: 100%;
}

@media ( max-width : 991px) {
	.table-container-constant {
		height: 100%;
	}
}

.delete-icon-smaller {
	height: 15px;
	width: auto;
}

.delete-icon-outline:focus {
	outline-width: 0px;
	outline: 0px auto -webkit-focus-ring-color;
}

.delete-dialog-title {
	margin-top: 15px;
}

.chart svg, .chart canvas {
	width: 100% !important;
}

#chartAppaItemsByCategoryLine {
	height: 350px;
	margin-bottom: 90px;
}

#chartAppaItemsByCategoryBar {
	height: 350px;
	margin-top: 25px;
	margin-bottom: 75px;
}

.chartAppaItemsByCategoryFlotDiv {
	height: 350px;
	margin-top: 30px;
	margin-bottom: 5px;
}

svg {
	height: 350px;
}

.growl-container.growl-fixed.top-right {
	top: 0;
	right: 0;
}

.growl-container.growl-fixed {
	position: static;
	float: static;
	width: 100%;
	max-width: 4000px;
}

.tooltip-inner {
	max-width: 500px !important;
	background-color: #ca0505;
}

.tooltip.top .tooltip-arrow {
	border-top-color: #ca0505;
}

.tooltip.right .tooltip-arrow {
	border-right-color: #ca0505;
}

.tooltip.bottom .tooltip-arrow {
	border-bottom-color: #ca0505;
}

.tooltip.left .tooltip-arrow {
	border-left-color: #ca0505;
}

.has-error .form-control {
	border-color: #ca0505;
}

.horizontal-box-12 {
	padding-right: 12px;
}

.vertical-box-10 {
	height: 10px;
}

.vertical-box-20 {
	height: 20px;
}

.vertical-box-30 {
	height: 30px;
}

.vertical-box-40 {
	height: 40px;
}

.vertical-box-50 {
	height: 50px;
}

.button-update-move {
	margin-top: 25px;
	margin-bottom: 60px;
}

.padding-right-15 {
	padding-right: 15px;
}

.margin-right-15 {
	margin-right: 15px;
}

.font-color-gray {
	color: gray;
}

.welcome-text {
	font-size: 1.3em;
	font-style: italic;
}

.font-fira-sans {
	font-family: 'Fira Sans', sans-serif ! important;
}

.font-open-sans {
	font-family: 'Open Sans', sans-serif !important;
}

.control-label {
	font-family: 'Open Sans', sans-serif !important;
}

.hint-font {
	font-size: 1.0em !important;
	font-weight: 500px;
}

.font-open-sans-help-block {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 13px !important;
	font-weight: 400 !important;
}

.help-block {
	margin-bottom: 0px;
	font-family: 'Fira Sans', sans-serif !important;
	font-size: 13px !important;
	font-weight: 400 !important;
	color: #737373 !important;
}

.margin-top-0 {
	margin-top: 0px !important;
}

.headers-small {
	font-size: 2.0em;
	padding-right: 10px;
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 500 !important;
}

.help-block-smaller {
	font-size: 0.6em !important;
	margin-bottom: 0px;
}