<!DOCTYPE html>
<html  ng-app="Appa" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="css/sb-admin-2.css" rel="stylesheet">

</head>
<body id="page-top">

<div id="wrapper">

    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Exchanege</div>
        </a>

        <hr class="sidebar-divider my-0">

        <li class="nav-item active">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>New Trade</span></a>
        </li>

        <li class="nav-item active">
            <!--<a class="nav-link" href="/">-->
            <a href="currencies" th:href="@{/currencies}" class="nav-link">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>History of Trades</span></a>
        </li>

        <hr class="sidebar-divider">

        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>


    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">

            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>


            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown no-arrow d-sm-none">
                    <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                    </a>
                </li>
                <div class="topbar-divider d-none d-sm-block"></div>
            </ul>


            <div class="container-fluid">


                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                </div>

                <h2>Choose data to find rate and generate chart </String></h2>

                <form action="/exchange" method="POST" th:object="${exchangeRateForm}">
                    <select th:field="*{currencyFrom}" class="btn btn-info btn-icon-split">
                        <option value=""> Currency From </option>
                        <option th:each="currency : ${currencies}" th:value="${currency.code}"
                                th:text="${currency.name}"/>
                    </select>

                    <select th:field="*{currencyTo}" class="btn btn-info btn-icon-split">
                        <option value=""> Currency To </option>
                        <option th:each="currency : ${currencies}" th:value="${currency.code}"
                                th:text="${currency.name}"/>
                    </select>
                    <input type="submit" class="btn btn-info btn-icon-split" value="Show Rate">
                </form>
            </div>
        </div>

       <div footer></div>
    </div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="js/sb-admin-2.js"></script>
<script src="vendor/chart.js/Chart.min.js"></script>

<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>

<script src="shared/shared.module.js"></script>


</body>

</html>
