<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="css/sb-admin-2.css" rel="stylesheet">

</head>
<body id="page-top">

<div id="wrapper">
    <div th:replace="fragments/layout :: header"></div>

            <div class="container-fluid">

                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                </div>

                <h2>Choose data to find rate and generate chart </String></h2>

                <form action="/exchange" method="POST" th:object="${exchangeRateForm}">
                    <select th:field="*{currencyFrom}" class="btn btn-info btn-icon-split">
                        <option value=""> Currency From </option>
                        <option th:each="currency : ${currencies}" th:value="${currency.code}"
                                th:text="${currency.name}"/>
                    </select>

                    <select th:field="*{currencyTo}" class="btn btn-info btn-icon-split">
                        <option value=""> Currency To </option>
                        <option th:each="currency : ${currencies}" th:value="${currency.code}"
                                th:text="${currency.name}"/>
                    </select>
                    <input type="submit" class="btn btn-info btn-icon-split" value="Show Rate">
                </form>
            </div>
        </div>

        <div th:replace="fragments/layout :: footer"></div>
    </div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="js/sb-admin-2.js"></script>
<script src="vendor/chart.js/Chart.min.js"></script>
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>
<script src="shared/shared.module.js"></script>

</div>
</body>

</html>
