<!DOCTYPE html>
<html  ng-app="Appa" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

<div id="wrapper">

    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Exchanege</div>
        </a>

        <hr class="sidebar-divider my-0">

        <li class="nav-item active">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>New Trade</span></a>
        </li>

        <li class="nav-item active">
            <!--<a class="nav-link" href="/">-->
            <a href="currencies" th:href="@{/currencies}" class="nav-link">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>History of Trades</span></a>
        </li>

        <hr class="sidebar-divider">

        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>


    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>

            <ul class="navbar-nav ml-auto">


                <li class="nav-item dropdown no-arrow d-sm-none">
                    <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                         aria-labelledby="searchDropdown">
                        <form class="form-inline mr-auto w-100 navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small"
                                       placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
                <div class="topbar-divider d-none d-sm-block"></div>
            </ul>
            </nav>

            <div class="container-fluid">

                <div class="d-sm-flex align-items-center justify-content-between mb-4"></div>
                <h1>Exchange Results</h1>

                <p class="btn btn-primary btn-icon-split" th:text="'From: ' + ${history[0].getFromCurrency()}"/>
                <p class="btn btn-success btn-icon-split" th:text="'To: ' + ${history[0].getToCurrency()}"/>
                <p class="btn btn-info btn-icon-split" th:text="'Rate: ' + ${history[0].getRate()}"/>

                <canvas id="lineChart"></canvas>
            </div>
        </div>
        <div footer></div>
    </div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="js/sb-admin-2.min.js"></script>
<script src="vendor/chart.js/Chart.min.js"></script>
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>

</body>
</html>

<script type="text/javascript" th:inline="javascript">
    //line
    var ctxL = document.getElementById("lineChart").getContext('2d');

    var currencyFrom = /*[[${history[0].getFromCurrency()}]]*/ 'fromCurrency';
    var currencyTo = /*[[${history[0].getToCurrency()}]]*/ 'toCurrency';


    var dateTime = [];
    /*[# th:each="n : ${dateTime}"]*/
    dateTime.push("[(${n})]");
    /*[/]*/

    var close = [];
    /*[# th:each="n : ${close}"]*/
    close.push("[(${n})]");
    /*[/]*/

    var open = [];
    /*[# th:each="n : ${open}"]*/
    open.push("[(${n})]");
    /*[/]*/

    var high = [];
    /*[# th:each="n : ${high}"]*/
    high.push("[(${n})]");
    /*[/]*/

    var low = [];
    /*[# th:each="n : ${low}"]*/
    low.push("[(${n})]");
    /*[/]*/

    var myLineChart = new Chart(ctxL, {
        type: 'line',
        data: {
            labels: dateTime,
            datasets: [{
                label: "Close",
                data: close,
                backgroundColor: [
                    'rgba(105, 0, 132, .2)',
                ],
                borderColor: [
                    'rgba(200, 99, 132, .7)',
                ],
                borderWidth: 2
            },
                {
                    label: "Open",
                    hidden: true,
                    data: open,
                    backgroundColor: [
                        'rgba(0, 137, 132, .2)',
                    ],
                    borderColor: [
                        'rgba(0, 10, 130, .7)',
                    ],
                    borderWidth: 2
                },
                {
                    label: "High",
                    hidden: true,
                    data: high,
                    backgroundColor: [
                        'rgba(156, 227, 130, .2)',
                    ],
                    borderColor: [
                        'rgba(66, 155, 34, .7,)',
                    ],
                    borderWidth: 2
                },
                {
                    label: "Low",
                    hidden: true,
                    data: low,
                    backgroundColor: [
                        'rgba(235, 237, 84, .2)',
                    ],
                    borderColor: [
                        'rgba(196, 198, 21, .7)',
                    ],
                    borderWidth: 2
                }
            ]
        },
        options: {
            responsive: true
        }
    });

</script>