<div id="wrapper" xmlns:th="http://www.w3.org/1999/xhtml">

    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Exchanege</div>
        </a>

        <hr class="sidebar-divider my-0">

        <li class="nav-item active">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>New Trade</span></a>
        </li>

        <li class="nav-item active">
            <!--<a class="nav-link" href="/">-->
            <a href="currencies" th:href="@{/currencies}" class="nav-link">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>History of Trades</span></a>
        </li>


        <hr class="sidebar-divider">


        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
</div>